<div class="mdl-grid widgets">
    <div class="mdl-cell mdl-cell--6-col">
        <app-widgets-list
            [widgets]="widgets"
            (selected)="selectWidget($event)"
            (deleted)="deleteWidget($event)">
        </app-widgets-list>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
        <app-widget-detail
            [widget]="selectedWidget"
            (saved)="saveWidget($event)"
            (cancelled)="cancel($event)">
        </app-widget-detail>
       
    </div>
</div>
